## Dan's Notes: Pandas-Reading Text Files

Â©2019-2020 Daniel R. Buskirk<br/>
danbuskirk1729@gmail.com<br/>

## Table of Contents
1. [Introduction](#introduction)
2. [Imports](#imports)
3. [Reading Text Files](#readingtextfiles)
 * [read_csv()](#read_csv)
 * [read_excel()](#read_excel)
3. [Reading Fixed-Width Data](#readingfixedwidthdata)
7. [Appendix: Data and Execution Notes](#dataandexecutionnotes)

<a name="introduction"></a>
### Introduction

Much important data is available in text files and Excel xlsx files. While simple and not particularly efficient for large amounts of data, text files have the advantage of being easy to work with and almost universally supported among data and analytic tools and applications.

<a name="imports"></a>
### Imports

In [17]:
import pandas as pd

<a name="readingtextfiles"></a>
## Reading Text Files

<a name="read_csv"></a>
#### read_csv()

Many text data files use the "csv" format, which stands for "comma-separated values". The read_csv() function reads those files, but can also read files that use characters other than a comma to separate value. Some csv files use the first line of the file to specify the column headings, while others do not. By default, the read_csv() method will try to infer on its won if the first line represents column heading or not.

In [18]:
df=pd.read_csv("../data/population_data_unpivot.csv")

In [19]:
df.dtypes

Unnamed: 0             int64
Country or Region     object
Year                   int64
Population           float64
dtype: object

By default, read_csv will try to guess the delimiter that your file uses to separate data from different columns within a row. However, you can explicitly declare the separator if need be.

In [20]:
df=pd.read_csv("../data/population_data_unpivot.csv", sep=",")

In the following example, there are no column headings in the file, but read_csv() will assume the first row contains column names.

In [21]:
df1=pd.read_csv("../data/population_data_unpivot_no_column_names.csv")
df1.head()

   1     Afghanistan  1800  3280000.0
0  3         Albania  1800   410445.0
1  4         Algeria  1800  2503218.0
2  5  American Samoa  1800     8170.0
3  6         Andorra  1800     2654.0
4  7          Angola  1800  1567028.0

We can explitly tell read_csv() that there are not column names, in which case we could add them later.

In [22]:
df1=pd.read_csv("../data/population_data_unpivot_no_column_names.csv", header=None)
df1.head()

   0               1     2          3
0  1     Afghanistan  1800  3280000.0
1  3         Albania  1800   410445.0
2  4         Algeria  1800  2503218.0
3  5  American Samoa  1800     8170.0
4  6         Andorra  1800     2654.0

A second alternative is to specify the column names at the time we do the read. In this case the optional parameter header=None is not necessary, but it won't hurt either.

In [23]:
df1=pd.read_csv("../data/population_data_unpivot_no_column_names.csv", 
                # header=None, 
                names=["index","Country or Region", "Year", "Population"])
df1.head()

   index Country or Region  Year  Population
0      1       Afghanistan  1800   3280000.0
1      3           Albania  1800    410445.0
2      4           Algeria  1800   2503218.0
3      5    American Samoa  1800      8170.0
4      6           Andorra  1800      2654.0

<a name="read_excel"></a>
#### read_excel()

The pandas read_excel method reads worksheet data into a pandas DataFrame. Pandas also defines an ExcelFile object, but we will not discuss ExcelFile in this introduction. Reading row-and-column worksheet data into a pandas DataFrame is usually sufficient

In [27]:
df1 = pd.read_excel('../data/GDP-1960-2015.xlsx', sheet_name='Data') # "sheetname" is deprecated
df1.head()

,Geographical Region,Region Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Arab World,ARB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5492.307129,5663.743723,5875.300181,5822.968325,5956.435530,6022.467200,6215.586247,6297.873819,6340.777948,6412.342973
1,Caribbean small states,CSS,NaN,NaN,NaN,NaN,NaN,NaN,4773.546023,4865.101699,...,8828.317121,9053.272233,9114.577077,8733.916183,8799.589747,8834.067742,8892.133090,8984.078046,8983.808415,8954.012281
2,Central Europe and the Baltics,CEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11436.320274,12213.441871,12720.708985,12275.218659,12557.382669,12996.253643,13100.430301,13303.019930,13722.843974,14252.611097
3,Early-demographic dividend,EAR,1101.826614,1121.643224,1140.619715,1171.661280,1237.904973,1275.330437,1293.297437,1329.355419,...,2597.795856,2722.794879,2783.005452,2771.690132,2908.316064,3012.097373,3078.874542,3154.665399,3228.078389,3329.342877
4,East Asia & Pacific,EAS,1281.285682,1351.870030,1416.783681,1492.092367,1612.533027,1678.704802,1783.444587,1888.446177,...,6596.895815,6977.542004,7172.707243,7221.048150,7680.317201,7982.270143,8298.811540,8634.542307,8928.473216,9232.041338

<a name="readingfixedwidthdata"></a>
#### Reading Fixed-Width Data

Many blogs describe how to iterate through and parse fixed with columns, but in many cases the pandas <b>read_fwf()</b> function is far easier.

In [ ]:
test=pd.read_fwf("../data/OrderDetails.dat")#, delimiter=' ')
test.head()

<a name="dataandexecutionnotes"></a>
### Data and Execution Notes